* {
  margin:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* .addFlextoEmojiContainer {
  transition: all 1s ease-in-out;
} */

body {
  background-color: #505050;
  height: 200vh;
}

h1 {
  font-size: 1.75em;
  margin-top: 90px;
}

.blue-color {
  color: #4b9ff5;
}

.grey-color {
  color: #848e9a;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(255, 255, 255, 0.90);
    animation-name: modalopen;
    animation-duration: .5s;
}

.overlay h3 {
  font-size: 3em;
  text-align: center;
  margin-top: 20%;
}

.overlay p {
  font-size: 1.2em;
}

.effects-container {
  width: 500px;
  height: 450px;
  /* background-color: rgb(139, 131, 131); */
  margin: 0 auto;
  position: relative;
}

.effects-container i {
  font-size: 1.9em;
  position: absolute;
  bottom: 0;
  right: 7px;
  color: #ccc;
}

.effects-container i:hover {
  color: #4b9ff5; 
}

.layoutEmojis {
  position: absolute;
  bottom: 0;
  right: 65px;
}

ul {
  list-style-type: none;
  position: absolute;
  right: 0;
  bottom: 55px;
}

li {
  font-size: 1.2em;
  margin: 62px;
}

.sideGrid {
  width: 40px;
  height: 310px;
  border-radius: 25px;
  background-color: #ccc;
  position: absolute;
  bottom: 55px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.circles {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto;
}


.container {
  background-color: #fff;
  width: 80%;
  height: 50%;
  margin: 200px auto 0 auto;
  overflow: hidden;
  position: relative;
}

.container-header {
  width: 70%;
  height: 100px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dbdbdb;
  position: absolute;
  right: 0;
  padding: 20px;
  display: flex;
  align-self: flex-end;
}

.sidebar {
  background-color: #fff;
  width: 30%;
  height: 100vh;
  border-right: 1px solid #dbdbdb;
}

.sidebar-header {
  width: 100%;
  height: 200px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dbdbdb;
  padding: 15px;
  overflow: hidden;
}

.sidebar-header input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: none;
  padding: 10px;
  background-color: #e8e8ea;
  border-radius: 10px; 
}

.sidebar-header p {
  padding-top: 20px;
}

.sidebar-header i {
  align-self: flex-end;
  font-size: 1.5em;
}

.container-header i {
  padding-top: 5px;
  font-size: 1.2em;
}

.edit-and-write {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    color: #c6c6c8;
}

input:focus {
  outline: none;
}

.sidebar-rows {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #dbdbdb;
  padding: 15px;
  display: flex;
  align-items: center;
}

.sidebar-info {
  display: flex;
  align-items: flex-start;
}

.sidebar-info-text {
  padding: 5% 0;
}

.sidebar-info p {
  color: #c6c6c8;
  padding-left: 10px;
}

.side-picture-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  background-image: url(img/NEW_J-ICON_3.jpg);
  background-size: cover;
  margin-right: 10px;
}

.icon-container, .icon-container p, .picture-icon {
  margin: 0 auto;
  text-align: center;
  font-size: .85em;
} 

.icon-container {
  width: 100%;
  height: 100%;
  max-width: 300px;
}

.picture-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: grey;
  background-image: url(img/NEW_J-ICON_3.jpg);
  background-size: cover;
  margin-bottom: 4px;
}

.message-input-container {
  position: absolute;
  /* background-color: grey; */
  bottom: 5px;
  right: 0px;
  width: 70%;
  padding: 10px;
}

.message-input-container i {
  font-size: 1.9em;
  margin-left: 20px;
  margin-right: 10px;
}

#emoji-icon {
  /* background-color: red; */
  width: 30px;
  height: 30px;
  background-image: url(img/emoji-icon.svg);
  margin: 10px 10px 0 10px;
  background-size: 200% 200%;
  background-position: top center;
  display: inline-block;
}

#emoji-icon:hover {
  background-position: bottom center;
}



#iMessage-field {
  position: relative;
  width: 80%;
  height: 50px;
  /* margin-top: 10px; */
  border: 1px solid #dbdbdb;
  padding: 10px;
  background-color: #fff;
  border-radius: 30px;
}

.message-container{
  /* background-color: grey; */
  width: 70%;
  position: absolute;
  top: 200px;
  right: 0;
  padding: 20px;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/* CSS talk bubble */
.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: auto;
  height: auto;
  color: white;
  padding: 20px;
  border-radius: 20px;
	background-color: #2093fe;
}

.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: 10px;
  left: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent #2093fe transparent transparent;
}

.emoji-container {
  width: 200px;
  height: 200px;
  background-color: #d0d1d5;
  position: absolute;
  bottom: 80px;
  left: 27%;
  border-radius: 5%;
  display: none;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-around;
  /* transition: all 0.3s ease-in; */
}

.add-triangle:after {
  content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 5px;
  left: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent #d0d1d5;
}

.emojis {
  /* background-color: grey; */
  width: 30px;
  height: 30px;
  margin: 15px 5px;
  /* justify-content: space-evenly; */
  
}

#emoji-one {
  background-image: url(img/Layer-1.png);
  background-size: cover;
}

#emoji-two {
  background-image: url(img/Layer-7.png);
  background-size: cover;
}

#emoji-three {
  background-image: url(img/Layer-3.png);
  background-size: cover;
}

#emoji-four {
  background-image: url(img/Layer-4.png);
  background-size: cover;
}

#emoji-five {
  background-image: url(img/Layer-5.png);
  background-size: cover;
}

#emoji-six {
  background-image: url(img/Layer-6.png);
  background-size: cover;
}

#emoji-seven {
  background-image: url(img/Layer-7.png);
  background-size: cover;
}

#emoji-eight {
  background-image: url(img/Layer-8.png);
  background-size: cover;
}

#emoji-nine {
  background-image: url(img/Layer-9.png);
  background-size: cover;
}

#emoji-ten {
  background-image: url(img/Layer-10.png);
  background-size: cover;
}

#emoji-eleven {
  background-image: url(img/Layer-1.png);
  background-size: cover;
}

#emoji-twelve {
  background-image: url(img/Layer-3.png);
  background-size: cover;
}

@keyframes modalopen {
    from{opacity: 0}
    to{opacity: 1}
}
